.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic-wrapper {
    background-image :url('../public/Images/Signup.png');
    background-repeat: no-repeat;
    background-size: cover;
  filter:blur();
    display: flex;
    flex-direction: column;
    align-items: center;
}
