nav {
    background-color: bisque;
    height: 42px;
}

nav li {
    list-style: none;
    float: left;
    padding-left: 8px;
    padding-top: 10px;
    padding-right: 8px;
}
li a {
    text-decoration: none;
    color: rgb(59, 146, 187);
    line-height: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}